
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.trafficTop{
    margin: auto;
    width: 25px;
    height: 100px;
    background-color: black;
}


.container{
    padding: 5px;
    border-radius: 5%;
    width: 150px;
    background-color: black;
}

.light{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    border-radius: 50%;
}


.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: rgb(238, 188, 23);
}

.green{
    background-color: green;
}

.selected{
    box-shadow: 0px 0px 40px 10px rgb(255, 255, 255);
}
